<div class="center">
	<% if @contents.count >0 %>
		<div class="carousel carousel-slider">
			<% @contents.each do |content| %>
					<%= link_to image_tag(content.cover.url), content_path(content), class: "carousel-item responsive-img" %>
			<% end %>
		</div>
	<% else %>
		<div id="index-banner" class="parallax-container">
			<div class="section no-pad-bot">
			    <br><br>
			    <div class="row center">  	
			      <h1>LacerMarket</h1>
			      <h5>Vendi e acquista articoli di abbigliamento</h5>
			    </div>
			    <div class="row center">
			      <%= link_to 'Vai ai contenuti', contents_path, class: "btn red btn-large" %>
			    </div>
			    <br><br>

			</div>
		<div class="parallax"><%= image_tag("pexels-photo-1630344.jpeg") %></div>
		</div>
	<%end%>
</div>