<!--<h1 class="center">Questa è la nostra homepage</h1>-->
<div class="carousel carousel-slider">
	<% @contents.each do |content| %>
			<%= link_to image_tag(content.cover.url), content_path(content), class: "carousel-item responsive-img" %>
	<% end %>
</div>
<h4 class="center">Come funziona LacerMarket?</h4>
<div class="row">
	<div class="col s12 m4">
		<h2 class="center"><i class="material-icons">shopping_basket</i></h2>
		<h5 class="center">Shop</h5>
		<p class="center">Acquista e vendi i tuoi articoli.</p>
	</div>
	<div class="col s12 m4">
		<h2 class="center"><i class="material-icons">people_outline</i></h2>
		<h5 class="center">Community</h5>
		<p class="center">Condividi opinioni con gli altri utenti.</p>
	</div>
	<div class="col s12 m4">
		<h2 class="center"><i class="material-icons">apps</i></h2>
		<h5 class="center">App</h5>
		<p class="center">Utilizza l'App per connetterti in qualunque momento.</p>
	</div>
</div>

<script>
	$('.carousel.carousel-slider').carousel({
    	fullWidth: true
  	});
</script>
