<footer class="page-footer red accent-1 center">
  <div class="footer-copyright">
    <div class="container">
		<div class="row">
			<div class="col s4">
				 © 2015 Lacerba.io
			</div>
			<div class="col s4">
				<a href="http://facebook.com/lacerba.io" target="_blank"><i class="fa-social fab fa-facebook-f white-text fa-2x"></i></a>
				<a href="http://twitter.com/lacerba_io" target="_blank"><i class="fa-social fab fa-twitter white-text fa-2x"></i></a>
			</div>
			<div class="col s4">
				<%= link_to "About", about_path, class: "grey-text text-lighten-4 right" %>
			</div>
		</div>
    </div>
  </div>
</footer>